Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  bugprone-narrowing-conversions,
  bugprone-use-after-move,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-move-const-arg,
  performance-unnecessary-copy-initialization,
  portability-std-allocator-const
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!.*third_party/).*/(src|tests)/.*'
SystemHeaders: false
